<h1>Table of Contents</h1>

<ul>
  <% WEEK_TOPICS.each_with_index do |topic, index| %>
    <li>
      <span class="week-number"><%= index + 1 %>: </span>
      <span class="topic"><%= link_to topic, { week: index + 1 } %> </span>
      <span class="message-count">(<%= @message_counts[index].qty %> links)</span>
    </li>
  <% end %>
</ul>